/* Estilos base */
body {
    background-color: #DDDDDD;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
.logo {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #239e3c;
    padding: 1px;
}

.logo button:hover {
    cursor: pointer;
}

.btnsup {
    background-color: #239e3c;
    margin-left: 20px;
    padding: 1px;
    width: 70%;
    height: 72px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.btnsup button {
    width: 20%;
    height: 57.5%;
    color: #ffffff;
    background-color: #239e3c;
    border-style: none;
    font-size: 18px;
}

/* Estilos del contenido principal */
.contenedor {
    display: flex;
    flex-wrap: wrap;
}

.formu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 6%;
    margin-right: 6%;
    padding: 12px;
    flex: 1;
}

.formu label {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formu input,
.formu select,
.formu textarea {
    width: 100%;
    height: 24px;
    border-radius: 9px;
    margin-bottom: 6px;
}

.formu button {
    background-color: #07e033;
    width: 100%;
    height: 33px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: #ffffff;
    border-style: none;
    border-radius: 6px;
    cursor: pointer;
}

.formu button:hover {
    background-color: #05c02e;
}

.btngrupo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.extra button {
    margin-top: 1.5%;
    width: 100%;
    height: 66px;
    font-size: 15px;
    color: #ffffff;
    background-color: #239e3c;
    border-style: none;
    cursor: pointer;
}

.extra button:hover {
    background-color: #05c02e;
}

/* Estilos del pie de página */
.end0 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.end1 {
    background-color: #239e3c;
    margin-left: 1.2%;
    margin-right: 3px;
    width: 100%;
    flex: 1;
}

.end1 h1 {
    margin-top: 3%;
}

.link {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}

.lista {
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
    padding: 0;
}

.end2 {
    font-size: 12px;
    background-color: #239e3c;
    margin-left: auto;
    width: 100%;
    color: #ffffff;
}

/* Estilos responsive */
@media screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .formu {
        margin: 6px;
    }

    .btnsup {
        width: 100%;
        margin: 6px;
        height: auto;
    }

    .btnsup button {
        width: 100%;
        height: 100%;
    }

    .extra {
        margin: 6px;
    }

    .extra button {
        width: 100%;
        height: auto;
    }

    .end1 {
        margin-left: 1.2%;
        margin-right: 1.2%;
    }
}
