body {
    background-color: #DDDDDD;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }
  .logo {
    max-width: 100%;
    max-height: 20%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #239e3c;
    padding: 5px;
    flex-direction: row;
    
  }
  
  .logo button:hover{
    cursor: pointer;
  }
  
  .btnsup{
    background-color: #239e3c;
    margin-left: 10px;
    padding: 5px; 
    width: 76%;
    height: 120px;
    align-items: center;
    justify-items: center;
    display: inline-flex;
  }
  
  .btnsup button {
    width: 80%;
    height: 95%;
    color: #ffffff;
    background-color: #239e3c;
    border-style: none;
    font-size: 30px;
  }
  
  .btnsup button:hover {
    cursor: pointer;
    background:#07e033 ;
  }
  
  .contenedor {
    background-color: #DDDDDD;
    width: 100%;
    height: 750px;
    max-height: 70%;
    display: flex;
  }
  
  .formu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
    padding: 20px;
  }
  
  
  .formu label {
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    
  }
  
  .formu input{
    width: 700px;
    height: 40px;
    border-radius: 15px;
  }
  
  
  
  .formu select{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border-width: 2px;
    font-size: larger;
    text-align: center;
  }
  
  .formu button {
    background-color: #239e3c;
    margin-top: 3%;
    margin-left: 40%;
    width: 20%;
    height: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: #ffffff;
    border-style: none;
    border-radius: 11px;
  }
  
  .formu button:hover{
    cursor: pointer;
    background:#07e033 ;
  }
  
  .btngrupo {
    width: 40%;
    height: 720px;
  }
  .extra{
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  
  .extra button {
    margin-top: 3%;
    margin-left: 25%;
    margin-bottom: 1%;
    width: 70%;
    height: 110px;
    font-size: 30px;
    color: #ffffff;
    background-color: #239e3c;
  }
  
  .extra a {
    margin-top: 3%;
    margin-left: 7.6%;
    margin-bottom: 2.5%;
    display: block;
    width: 70%;
    height: 110px;
  }
  
  .extra a button {
  
    width: 100%;
    height: 100%;
    font-size: 30px;
  }
  
  
  .extra button:hover{
    cursor: pointer;
    background:#07e033 ;
  }
  
  .end0 {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
  }
  
  .end1 {
    background-color: #239e3c;
    margin-left: 2%;
    margin-right: 5px;
    width: 50%;
  }
  
  .end1 h1{
    margin-top: 13%;
  }
  
  .link {
    text-decoration: none;
    color: #ffffff;
    font-size: 28px;
  }
  
  .lista{
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
  }
  
  .end2 {
    font-size: 30px;
    background-color: #239e3c;
    margin-left: 5px;
    width: 47%;
    color: #ffffff;
  }